<hr/>
<h4>{{titleComments}}</h4>
<form #newCommentForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-6">
		<input type="hidden" #video_id="ngForm" [(ngModel)] = "comment.video_id" required="">
		<p>
			<textarea class="form-control" #body="ngForm" ngControl="body" [(ngModel)]="comment.body" required=""></textarea>			
		</p>
		<span *ngIf=" ! body.valid && body.touched ">
			Coloca el comentario porfavor
		</span>
		<input type="submit" value="Comentar" class="btn btn-success">
</form>


<div class="clear-fix"></div>
<div class="loader" *ngIf="loading == 'show'">
	<img src="assets/images/ajax-gray.gif">
</div>
<div id="comment-list" *ngIf="commentList">

	<div *ngFor="let comment of commentList" class="comment-item col-md-12 pull-left">
		<div class="panel panel-default comment-data  comment-panel-{{comment.commentid}}" id="commentData">		
			<div class="panel-heading">
				<h3 class="panel-title">
					Comentario de <strong>{{comment.userid.name}}</strong> el {{comment.createdAt.timestamp | generateDate }}
				</h3>		
			</div>
			<div class="panel-body">
				<p>{{comment.body}}</p>
				<div class="pull-right" *ngIf="identity.id == comment.userid.userid || identity.id == comment.videoid.user.userid">
					<span class="glyphicon glyphicon-trash pointer" (click)="deleteComment(comment.commentid)"></span>
				</div>
			</div>
			
		</div>
	</div>

	
</div>
